/* RESET DASAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* HEADER & NAVBAR */
header {
  background-color: #0b5ed7; /* biru elegan */
  color: white;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.2rem;
}

/* SECTION UMUM */
section {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 1rem;
}

section h2 {
  margin-bottom: 1rem;
  color: #0b5ed7;
}
