/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
  color: #1f2937;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
header {
  background-color: #0b3c5d;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

/* HERO */
.hero {
  background-color: #e5eff7;
  padding: 80px 0;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* SECTION */
section {
  padding: 60px 0;
  background-color: white;
  margin-top: 20px;
}

/* FOOTER */
footer {
  background-color: #0b3c5d;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
